---
SPDX-FileCopyrightText: 2022 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: CC-BY-SA-4.0
layout: default
title: "Blog"
date_modified: 2022-01-17 11:20
sitemap:
  changefreq: "monthly"
  priority: 1
---

<h1>Hello!</h1>

<div class="font_sans">

	<p>I'm a writer and accessibility nerd, among other things.</p>

	<p>I am currently developing this website. This will be my personal website/blog. Stay tuned!</p>

</div>

<h2>Recent Posts</h2>

{% for post in site.posts limit:6 %}

<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<p>{{ post.description }}</p>
<p><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time></p>
{% include image.html image=post.image caption="False" %}
<!-- If there's no featured image, use the site default - need to update -->

{% endfor %}

<aside aria-label="Sidebar">
	<section>
		<h2>Read More</h2>
		<ol>
			<li>{% include SVGs/archive.svg %}<a href="/Blog/Archive/">Blog Archive</a></li>
			<li>{% include SVGs/folder.svg %}<a href="/Blog/Categories/">Category Index</a></li>
			<li>{% include SVGs/tag.svg %}<a href="/Blog/Tags">Tag Index</a></li>
			<li>{% include SVGs/rss.svg %}Subscribe (Feeds)</li>
		</ol>
	</section>

	<section>
		<h2>Currently Reading</h2>
		<ol>
			<li>TK</li>
			<li>TK</li>
		</ol>
	</section>

</aside>
