---
SPDX-FileCopyrightText: 2022 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: CC-BY-SA-4.0
layout: default
title: "Site Map"
permalink: /Site-Map/
---

<h1>{{ page.title }}</h1>

<div class="toc">
	<h2>Contents</h2>
	<ol>
		<li><a href="#pages">Pages</a></li>
		<li><a href="#posts">Posts</a></li>
		<li><a href="#xml">XML Site Map</a></li>
	</ol>
</div>

<h2 id="pages">Pages</h2>

<ul>
	<li><a href="/">Blog</a> (Homepage)
		<ul>
			<li><a href="/Blog/Archive/">Blog Archive</a></li>
			<li><a href="/Blog/Categories/">Category Index</a></li>
			<li><a href="/Blog/Tags/">Tag Index</a></li>
			<li><a href="/Blog/Subscribe/">Subscribe</a>
				<ul>
					<li><a href="/feed.xml">Atom Feed</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="/Publications/">Publications</a></li>
	<li><a href="/About/">About</a></li>
	<li><a href="/About-This-Site/">About This Site</a>
		<ul>
			<li><a href="/About-This-Site/ReadMe/">ReadMe</a></li>
		</ul>
	</li>
	<li><a href="/Site-Map/">Site Map</a>
		<ul>
			<li><a href="/sitemap.xml">XML Site Map</a></li>
		</ul>
	</li>
</ul>

<h2 id="posts">Posts</h2>

<ol reversed>
	{% for post in site.posts %}
	<li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time>: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ol>

<aside>
	<h2 id="xml">XML Site Map (For Robots)</h2>
	<p>Are you a robot looking for an XML site map? You've come to the right place.</p>
	<a href="/sitemap.xml" class="link-turncoat link-turncoat--standalone">{% include SVGs/map.svg %} XML Site Map</a>
</aside>
