{% comment %}
SPDX-FileCopyrightText: 2021 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% assign image = site.images | where: 'title', include.image | first %}
<figure{% if include.figClass %} class="{{ include.figClass }}"{% endif %}>
    <img
	alt="{% if include.alt %}{{ include.alt }}{% elsif image.alt %}{{ image.alt }}{% endif %}"
	{% if image.width %}width="{{ image.width }}"{% endif %}
	{% if image.height %}height="{{ image.height }}"{% endif %}
	src="{{ image.source }}"
	{% if image.srcset %}srcset="{{ image.srcset }}"{% endif %}
	{% if include.sizes %}sizes="{{ include.sizes }}"{% elsif image.sizes != "False" %}sizes="(min-width: 65rem) 65rem, 100vw"{% endif %}>
	{% if include.caption != "False" %}<figcaption>{{ image.content | strip }}</figcaption>{% endif %}
</figure>
