/*
 * SPDX-FileCopyrightText: 2021 Cam Coulter <git@camcoulter.com>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@supports (font-variation-settings: normal) {
	@font-face {
		font-family: 'Source Serif';
		src: url("../fonts/SourceSerif4Variable-Roman.otf.woff2") format("woff2 supports variations"), url("../fonts/SourceSerif4Variable-Roman.otf.woff2") format("woff2-variations");
		font-style: normal;
		font-weight: 200 900;
	}
	@font-face {
		font-family: 'Source Serif';
		src: url("../fonts/SourceSerif4Variable-Italic.otf.woff2") format("woff2 supports variations"), url("../fonts/SourceSerif4Variable-Italic.otf.woff2") format("woff2-variations");
		font-style: italic;
		font-weight: 200 900;
	}
	@font-face {
		font-family: "Source Sans";
		src: url("../font/SourceSans3VF-Roman.otf.woff2") format("woff2 supports variations"), url("../fonts/SourceSans3VF-Roman.otf.woff2") format("woff2-variations");
		font-style: normal;
		font-weight: 200 900;
	}
	@font-face {
		font-family: "Source Sans";
		src: url("../font/SourceSans3VF-Italic.otf.woff2") format("woff2 supports variations"), url("../fonts/SourceSans3VF-Italic.otf.woff2") format("woff2-variations");
		font-style: italic;
		font-weight: 200 900;
	}
	@font-face {
		font-family: "Source Code";
		src: url("../font/SourceCodeVariable-Roman.otf.woff2") format("woff2 supports variations"), url("../fonts/SourceCodeVariable-Roman.otf.woff2") format("woff2-variations");
		font-style: normal;
		font-weight: 200 900;
	}
	@font-face {
		font-family: "Source Code";
		src: url("../font/SourceCodeVariable-Italic.otf.woff2") format("woff2 supports variations"), url("../fonts/SourceCodeVariable-Italic.otf.woff2") format("woff2-variations");
		font-style: italic;
		font-weight: 200 900;
	}
}

:root {
	/* Colors */
	--color: #000000;
	--bg-color: #FFFFFF;
	--link-color: #2E2EFF;
	--link-visited-color: #B10DC9;
	--link-active-color: #EB0C00;
	--accent: var(--link-color);
}
@media (prefers-color-scheme: dark) {
	:root {
		--color: #FFFFFF;
		--bg-color: #121212;
		--link-color: #3DA5FF;
		--link-visited-color: #E66DF8;
		--link-active-color: #FF3429;
	}
}

body {
	color: var(--color);
	background: var(--bg-color);
	font-family: "Source Serif", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 1.5;
	margin: 0;
}

a:link {
	color: var(--link-color);
	text-decoration: underline;
}

a:visited {
	color: var(--link-visited-color);
}

a:focus {
	outline: 2px solid;
	outline-offset: 1px;
}

a:hover {
	text-decoration: none;
}

a:active {
	color: var(--link-active-color);
}

cite {
	font-style: italic;
}

img,
picture {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}
@media (prefers-color-scheme: dark) {
	img {
		filter: brightness(.8) contrast(1.2);
	}
}

figure {
	text-align: center;
}

figure.About__Headshot img {
	border-radius: 10px;
}

figure.full-width img {
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 65rem; // this affects image sizes attribute
	padding: 0 1rem;
}

.article_container {
	margin: auto;
	max-width: 50rem;
}

.bookinfo {
	font-style: italic;
}
@media (prefers-reduced-motion: no-preference) {
	// progressive enhancement
	html {
		scroll-behavior: smooth;
	}
}

a.skip-nav {
	text-decoration: none;
	background: var(--bg-color);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	position: absolute;
	left: 2rem;
	outline: 2px solid;
	outline-offset: 1px;
	transform: translateY(-200%);
	transition: transform 300ms ease;
}

a.skip-nav:focus {
	transform: translateY(0);
}
@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}

	* {
		animation: none !important;
		transition: none !important;
	}
}

blockquote {
	border-left: 0.2em solid var(--accent);
	padding: 0.1em 2em;
}

table {
	display: table;
	border-spacing: 2px;
	border-collapse: collapse;
	box-sizing: border-box;
	text-indent: 0;
}

table,
td,
th {
	outline: thin solid white;
	padding: 0.25em;
}
