---
SPDX-FileCopyrightText: 2021 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
layout: default
title: "Blog Archive"
permalink: /Blog/Archive/
---

<h1>{{ page.title }}</h1>

<ul>
	<li><a href="/Blog/Categories">View Category Index</a></li>
	<li><a href="/Blog/Tags">View Tag Index</a></li>
</ul>

{% for post in site.posts %}
<div class="archive-post">
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{{ post.description | markdownify }}
	{% if post.categories %}
	<p>Categorized under:
		{% for category in post.categories %}
		<a href="{{ site.baseurl }}/Blog/Categories#{{ category | url_encode }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% if forloop.last == true %}.{% endif %}
		{% endfor %}
	</p>
	<p>Posted on: <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time></p>
	{% endif %}
</div>
{% endfor %}
