---
SPDX-FileCopyrightText: 2021 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
layout: default
title: "Blog Archive"
permalink: /Blog/Archive/
---

<h1 id="main-content" tabindex="-1">{{ page.title }}</h1>

<ul class="link-turncoat--list">
	<li><a href="/Blog/Categories" class="link-turncoat">{% include SVGs/folder.svg %} Category Index</a></li>
	<li><a href="/Blog/Tags" class="link-turncoat">{% include SVGs/tag.svg %} Tag Index</a></li>
	<li><a href="/Blog/Subscribe/" class="link-turncoat">{% include SVGs/rss.svg %}Subscribe</a></li>
</ul>

{% for post in site.posts %}
<div class="archive-post">
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{{ post.description | markdownify }}
	{% if post.categories %}
	<ul class="post_metadata">
		<li>{% include SVGs/calendar3.svg %} Posted on: <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time></li>
		<li>{% include SVGs/folder.svg %} Categorized under:
			{% for category in post.categories %}
			{{ category }}{% if forloop.last == false %}, {% endif %}{% if forloop.last == true %}.{% endif %}
			{% endfor %}
		</li>
	</ul>
	{% endif %}
</div>
{% endfor %}
