---
SPDX-FileCopyrightText: 2021 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
layout: default
title: Categories
permalink: /Blog/Categories/
published: true
description: "Here's the category index for my blog."
---

<h1 id="main-content" tabindex="-1">{{ page.title }}</h1>

<p>{{ page.description }}</p>

<!-- Initial Tag List -->
{% assign categories_list = site.categories | sort %}

<ol>
	{% for category in categories_list %}
	<li>
		<a href="{{ site.baseurl }}/Blog/Categories#{{ category[0] | url_encode }}">
			{{ category[0] }}
		</a>
	</li>
	{% endfor %}
</ol>

<!-- List out all posts for reach tag -->
{% for category in categories_list %}
<div id="{{ category[0] | url_encode }}" class="cat-tag-item">
	<h2>{{ category[0] }}</h2>
	<ol reversed>
		{% for post in category.last %}
		<li>
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time>: <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ol>
</div>
{% endfor %}

{% assign categories_list = nil %}
