---
SPDX-FileCopyrightText: 2022 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title | strip_html }} - {{ site.title }}</title>

	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
	<link rel="alternate" type="application/atom+xml" title="Atom feed for Cam Coulter's blog" href="/feed.xml" />

	<meta name="description" content="{% if page.description %}{{ page.description | markdownify | strip_html | strip }}{% else %}{{ site.default_description }}{% endif %}">
	{% if page.categories %}<meta name="keywords" content="{% for category in page.categories %}{{ category }}, {% endfor %}{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}">{% else %}
	<meta name="keywords" content="{{ site.default_keywords }}">{% endif %}
	<meta name="author" content="{{ site.author }}">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<!-- Open Graph Protocol -->
	<meta property="og:title" content="{{ page.title | strip_html }} - {{ site.title }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description | markdownify | strip_html | strip }}{% else %}{{ site.default_description }}{% endif %}">
	<meta property="og:locale" content="{{ site.lang | default: 'en-US' }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	{% if page.image %}{% assign og_image_title = page.image %}{% else %}{% assign og_image_title = site.default_image %}{% endif %}{% assign og_image = site.images | where: 'title', og_image_title | first %}
	<meta property="og:image" content="{{ site.url }}{{ og_image.source }}">
	<meta property="og:image:alt" content="{{ og_image.alt }}">
	<meta property="og:image:width" content="{{ og_image.width }}">
	<meta property="og:image:height" content="{{ og_image.height }}">
	{% if page.layout == 'post' %}
	<meta property="og:type" content="article">
	<meta property="article:author" content="{{ site.author }}">
	{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
	{% if page.date_modified %}<meta property="article:modified_time" content="{{ page.date_modified | date_to_xmlschema }}">{% endif %}
	{% if page.tags %}<meta property="article:tag" content="{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}">{% endif %}{% else %}<meta property="og:type" content="website">{% endif %}

	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title | strip_html }} - {{ site.title }}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description | markdownify | strip_html | strip }}{% else %}{{ site.default_description }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}{{ og_image.source }}">
	<meta name="twitter:image:alt" content="{{ og_image.alt }}">

	{% if page.layout == 'post' %}<!-- JSON-LD -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"url": "{{ site.url }}{{ page.url }}",
			"inLanguage": "en-US",
			"headline": "{{ page.title | strip_html }}",
			{% if page.description %}"description": "{{ page.description | markdownify | strip_html | strip }}",{% endif %}
			{% if page.categories %}"articleSection": [{% for category in page.categories %}"{{ category }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],{% endif %}
			{% if page.tags %}"keywords": [{% for tag in page.tags %}"{{ tag }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],{% endif %}
			"datePublished": "{{ page.date | date_to_xmlschema }}",
			"dateModified": "{% if page.date_modified %}{{ page.date_modified | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
			"author": {
				"@type": "Person",
				"name": "{{ site.author }}",
				"url": "{{ site.url }}"
			},
			"image": {
            	"@type": "ImageObject",
            	"url": "{{ site.url }}{{ og_image.source }}"
        	}
	}
	</script>{% endif %}

</head>

<body>

	<a href="#main-content" class="skip-nav">
		Skip to Main Content
	</a>

	<div class="container">

		<header class="banner block-links">
			<h2><a href="/">Cam Coulter</a></h2>
			<p>thinks incessantly about ethical technology, speculative fiction, and intentional community.</p>
			<p class="printOnly">This page appears online at: <a href="{{ site.url }}{{ page.url }}" class="doNotPrintLink">{{ site.url }}{{ page.url }}</a></p>
			<nav>
				<ul class="primary-nav link-undercover--list">
					<li><a href="/About/" class="link-undercover">About</a></li>
					<li><a href="/" class="link-undercover">Blog</a></li>
					<li><a href="/Projects/" class="link-undercover">Projects</a></li>
					<li><a href="/Publications/" class="link-undercover">Publications & More</a></li>
				</ul>
			</nav>
		</header>

		<main>
			{{ content }}
		</main>

		<footer class="contentinfo">
			<ol class="link-undercover--list">
				<li><a href="/About-This-Site/" class="link-undercover">About This Site</a></li>
				<li><a href="/Site-Map/" class="link-undercover">Site Map</a></li>
				<li><a href="/Blog/Subscribe" class="link-undercover">Subscribe</a></li>
			</ol>
			<p>&copy; Cam Coulter 2016&ndash;2025</p>
		</footer>

	</div>
</body>

</html>
