---
SPDX-FileCopyrightText: 2021 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" dir="ltr">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title | strip_html }} - {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

	<a href="#main-content" class="skip-nav">
		Skip to Main Content
	</a>

	<header class="container">
		<nav>
			<p>
				<a href="/">Cam Coulter</a>
			</p>
			<ul>
				<li><a href="/About/">About</a></li>
				<li><a href="/Blog/">Blog</a></li>
			</ul>
		</nav>
	</header>

	<main id="main-content" class="container">
		{{ content }}
	</main>

	<footer class="container">
		<p>&copy; Cam Coulter 2016&ndash;2021</p>
		<p><a href="/About-This-Site/">About This Site</a></p>
	</footer>
</body>

</html>
