---
SPDX-FileCopyrightText: 2022 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
layout: default
---

<article class="post">

	<header>

		<h1 id="main-content">{{ page.title }}</h1>

		{{ page.description | markdownify }}

		<!-- Featured Image -->
		{% if page.image %}
		{% assign featured_image = page.image %}
		{% else %}
		{% assign featured_image = site.default_image %}
		{% endif %}
		{% if page.image_alt %}
		{% include image.html image=featured_image alt=page.image_alt figClass="full-width doNotPrint" %}
		{% else %}
		{% include image.html image=featured_image figClass="full-width doNotPrint" %}
		{% endif %}

		<ul class="post_metadata">
			<li>
				{% include SVGs/calendar3.svg %}
				Posted on: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %e, %Y" }}</time>.
			</li>

			{% if page.date_modified %}
			<li>
				{% include SVGs/clock.svg %}
				Last modified on: <time datetime="{{ page.date_modified | date_to_xmlschema }}">{{ page.date_modified | date: "%B %e, %Y" }}</time>.
			</li>
			{% endif %}

			{% if page.categories %}
			<li>
				{% include SVGs/folder.svg %}
				Categorized under:
				{% for category in page.categories %}
				<a href="{{ site.baseurl }}/Blog/Categories#{{ category | url_encode }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% if forloop.last == true %}.{% endif %}
				{% endfor %}
			</li>
			{% endif %}
		</ul>

	</header>

	<div class="article_container">

		{% if page.toc == true %}
		<div class="raised">
			<h2>Contents</h2>

			{{ content | toc_only }}
		</div>
		{% endif %}

		{{ content }}

		<div class="doNotPrint">

			<hr class="margin-block-2em">

			<a href="mailto:hi@camcoulter.com?subject=RE:%20{{ page.title | uri_escape }}" class="link-turncoat link-turncoat--standalone">{% include SVGs/envelope.svg %} Reply via email</a>

			{% if page.tags %}
			<h2 class="visually-hidden">Tagged with</h2>
			<ul class="link-turncoat--list">
				{% for tag in page.tags %}
				<li><a href="{{ site.baseurl }}/Blog/Tags#{{ tag | url_encode }}" class="link-turncoat">{% include SVGs/tag-fill-alt.svg %} {{ tag }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</div>
	</div>
</article>
